In [3]:
import pandas as pd 
from sklearn.naive_bayes import GaussianNB
from sklearn.datasets import load_svmlight_file
from sklearn.model_selection import train_test_split

In [9]:
df2 = pd.read_csv("spam.csv")
df = pd.read_csv('stopwords.txt', sep=' ', header=None)# names=[“Column1”, “Column2”]
gnb = GaussianNB()
gnb.fit(x, y) #compare stopwords and spam

NameError: name 'x' is not defined

In [11]:
df2

,Label,Message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will �_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [18]:
appendedList = []

In [24]:
def appends():
    if (df in df2):
        for i in range(0, len(df.index)):
            appendthis = df2.iat[message, i]
            i = i + 1
            appendthis.append(appendedList)
    else():
        df.dropna(axis = 0, inplace = True)
        print(df)

SyntaxError: expected ':' (3604616644.py, line 7)

In [35]:
def newThing():
    counter = 1 
    for i in range()

In [8]:
def contains(): # drop words that does not contain stop words
    for i in range(0, len(df)):
        if df not in df2:
            df.dropna(axis=0, inplace= True)  
            print(df)
            
contains()

TypeError: unhashable type: 'DataFrame'

In [38]:
def thsh():
    for i in range(0, df): #to get the words we need to add up 
        i = a
        df.append(list)
thsh()
    # to find the top 5 words count the number of numbers but it will be in string